In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels

In [4]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# What is the average age of men?

In [5]:
average_age_men = df.loc[df["sex"] == "Male","age"].mean()
average_age_men

np.float64(39.43354749885268)

# What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = (df.loc[df["education"] == "Bachelors"].shape[0] / df.shape[0]) *100
percentage_bachelors

16.44605509658794

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [8]:
higher_education_rich = df.loc[(df["salary"] == ">50K")&( (df["education"]=="Bachelors") | (df["education"]=="Masters") | (df["education"]=="Doctorate"))].shape[0]/df.loc[(df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate")].shape[0]
higher_education_rich*100

46.535843011613935

# What percentage of people without advanced education make more than 50K?

In [7]:
lower_education_rich = df.loc[~((df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate")) & (df["salary"] == ">50K")].shape[0]/df.loc[~((df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate"))].shape[0]
lower_education_rich*100

17.3713601914639

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [8]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

np.int64(1)

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [21]:
num_min_workers =  df.loc[(df["hours-per-week"] == 1)].shape[0]
rich_percentage =  df.loc[(df["hours-per-week"] == 1) & (df["salary"] == ">50K")].shape[0] / df.loc[(df["hours-per-week"] == 1)].shape[0]
rich_percentage*100

10.0

# What country has the highest percentage of people that earn >50K?

In [124]:
highest_earning_country = df.loc[df["salary"] == ">50K","native-country"].value_counts()
highest_earning_country_percentage = (highest_earning_country / df["native-country"].value_counts()).sort_values(ascending=False).head(1)
highest_earning_country_percentage*100

native-country
Iran    41.860465
Name: count, dtype: float64

# Identify the most popular occupation for those who earn >50K in India.

In [84]:
top_IN_occupation = df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K"),"occupation"].head(1)
top_IN_occupation

11    Prof-specialty
Name: occupation, dtype: object